{% extends 'base.html' %}

{% block header %}
<!-- <nav class="header">

    <a href="">Ajouter un film</a>
</nav> -->

{% endblock %}


{% block content %}

<section class="films">
    
    <ul>

        <li class="card">
            <p>Billet Unitaire: {{ info['data']['Bunit']}}</p>
            <p>Billet Journalié: {{ info['data']['Bjour']}}</p>
        </li>

    </ul>

    <p>{{ message }}</p>
</section>



<!-- <form method="post" action="/createQR"> -->
<form method="post" action="/addBillet">

    <label for="NbBunit">Billet Unitaire</label>
    <input type="number" name="NbBunit" id="NbBunit" value= 0>

    <label for="NbUnit">Billet Journalié</label>
    <input type="number" name="NbBjour" id="NbBjour" value= 0>


    <input class="btn" type="submit" value="Acheter">
</form>



{% endblock %}