{% extends 'base.html' %}

{% block header %}

{% endblock %}


{% block content %}

<section class="dash">
    
    <ul>
        <li class="card">
            <h4>Billet Acheter aujoud'hui: {{ data['buyToday'] }}</h4>
            <br>
            <p>Nb total de billet unitaire: {{ data['totalBunit'] }}</p>
            <p>Nb total de billet journalier: {{ data['totalBjour'] }}</p>
            <p>Nb de billet valides: {{ data['totalValid'] }} </p>
        </li>
    </ul>

    <p>{{ message }}</p>
</section>

</form>

<script>
    // Reload page every 10s
    function reloadPage() {
        location.reload(true);
    }
  
    setInterval(reloadPage, 10000);
</script>
    {% endblock %}
